.#{$prefix}-image {
  display: block;
  align-self: center;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;

  &-logo-primary {
    width: 260px;
    height: 84px;
    background-repeat: no-repeat;
    background-image: url("@/assets/images/speediz-logo.png");
    z-index: 2;
  }

  &-logo {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    height: 100%;
    margin-bottom: 20px;
    image: url("@/assets/images/speediz-logo.png");

  }


  &-home-screen-icon {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    height: 100%;
    margin-bottom: 20px;
    background-image: url("@/assets/images/home-screen-icon.svg");

  }

}
